/* fonts */
@font-face {
  font-family: Gilroy-bold;
  src: url("../src/assets/fonts/Gilroy-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: Gilroy-demi;
  src: url("../src/assets/fonts/Gilroy-SemiBold.ttf");
  font-display: swap;
}
@font-face {
  font-family: Gilroy-medium;
  src: url("../src/assets/fonts/Gilroy-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: Gilroy-regular;
  src: url("../src/assets/fonts/Gilroy-Regular.ttf");
  font-display: swap;
}

.font-bold {
  margin: 0;
  font-family: Gilroy-bold !important;
}
.font-demi {
  margin: 0;
  font-family: Gilroy-demi;
}
.font-medium {
  margin: 0;
  font-family: Gilroy-medium;
}
.font-regular {
  margin: 0;
  font-family: Gilroy-regular;
}

/* font size */
.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-24 {
  font-size: 24px;
}
.font-28 {
  font-size: 28px;
}
.font-30 {
  font-size: 30px;
}
.font-36 {
  font-size: 36px;
}
.font-48 {
  font-size: 48px;
}

/* padding */
.p-100 {
  padding: 100px;
}
.p-75 {
  padding: 75px;
}

/* css */
html,
body {
  font-size: 100%;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

:root {
  --primaryColor: #163d5b;
  --footer-bg: #1F0851;
  --formColor: #b15cd5;
  --nameColor: #BE6EDA;
  --policyColor: #ecd1ff;
  --teamColor1: #3d4ff6;
  --teamColor2: #5ad6f9;
  --teamColor3: #8136cb;
  --teamColor4: #75b742;
  --teamColor5: #fc952e;
  --labelColor: #bab7bd;
}

.footer-bg{
  background-color: var(--footer-bg);
}

.bg-1 {
  background-color: var(--teamColor1);
}
.bg-2 {
  background-color: var(--teamColor2);
}
.bg-3 {
  background-color: var(--teamColor3);
}
.bg-4 {
  background-color: var(--teamColor4);
}
.bg-5 {
  background-color: var(--teamColor5);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-primaryColor {
  color: var(--primaryColor);
}

.text-secondaryColor {
  background: linear-gradient(
    180deg,
    rgba(33, 11, 12, 0) -35.09%,
    #210b0c 72.27%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-reachColor {
  background: linear-gradient(180deg, #539836 100% #0f270b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-labelColor {
  color: var(--labelColor);
}

.text-formColor {
  color: var(--formColor);
}

.text-nameColor{
  color: var(--nameColor);
}

.text-policyColor {
  color: var(--policyColor);
}

.form-bg {
  background-color: #250c3a;
  padding: 32px;
  width: 412px;
  box-shadow: 0px 4px 6px rgba(28, 28, 28, 0.06);
  border-radius: 16px;
}

.box-bg{
  background-color: #250c3a;
  padding: 36px;
  width: 250px;
  height: 250px;
  box-shadow: 0px 4px 6px rgba(28, 28, 28, 0.06);
  border-radius: 16px;
}

.box-img{
  width: 80px;
  height: 80px;
}

.input-container {
  width: 100%;
  height: 50px;
  padding: 18px 20px;
  border-radius: 5px;
  border: 1px solid #7139a4;
  background-color: #250c3a;
  outline: none;
}

.input-btn {
  background: url("../src/assets/image/button-bg.png") no-repeat center
    center/cover;
  width: 257px;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  outline: none;
  border: transparent;
}

.justify {
  text-align: justify;
}

.fullscreen {
  min-height: 100vh;
}

.team-member {
  border-radius: 48px;
  /* width: 291px;
  height: 291px; */
}

.default {
  background: url("../src/assets/bg/default-bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
}

.policy {
  background: url("../src/assets/bg/terms-bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
}

.login,
.register {
  background: url("../src/assets/bg/login-bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
}

.about {
  background: url("../src/assets/bg/about-bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
}

.team {
  background: url("../src/assets/bg/team-bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
}

.sponsor {
  background: url("../src/assets/bg/sponsor-bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
}

@media screen and (max-width: 1024px) {
  .sponsor {
    background: url("../src/assets/bg/sponsor-bg-s.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
  }
}

.event-box {
  width: 200px;
  height: 200px;
  border-radius: 16px;
}

.box {
  width: 142px !important;
  height: 142px !important;
  background-color: #210b0c !important;
  border-radius: 13.47px;
}

.team-row {
  margin-top: 40px !important;
}

.sponsor-row {
  margin-top: 40px !important;
}

@media screen and (max-width: 1024px) {
  .team-row {
    margin-top: 0px;
  }
  .sponsor-row {
    margin-top: 0px !important;
  }
}

@media screen and (max-width: 772px) {
  .font-36 {
    font-size: 32px;
  }
  .font-18 {
    font-size: 16px;
  }
  .p-100 {
    padding: 75px;
  }
}

/* @media screen and (max-width: 500px) {
    .font-18{
        font-size: 16px;
    }
    .p-100{
        padding: 60px;
    }
} */
.navbarBtn {
  text-decoration: none;
  color: #ffffff !important;
}
