.eventCard {
  height: 580px;
  width: 280px;
  background-color: black;
  transform: skewX(-10deg);
  margin: 20px;
}
.eventCardImage {
  width: 100%;
  height: 100%;
}
.event-page {
  padding: 50px;
}

@media only screen and (max-width: 500px) {
  .eventCard {
    height: 400px;
    width: 180px;
  }
  .event-page {
    padding: 30px;
  }
}
