.mainShowcase {
  height: 1024px;
  width: 1440px;
  margin: auto;
}
.mainShowcase-wrapper {
  height: 1024px;
  background: url("../../assets/image/background1.gif") no-repeat center
    center/cover;
}
.mainShowcase-image {
  height: 100%;
  width: 100%;
}
.mainShowcase-heading {
  position: absolute;
  top: 202px;
  width: 100%;
  left: 0;
  text-align: center;
  font-family: Gilroy;
  font-style: Mixed;
  font-size: 68.56px;
  line-height: 100%;
}

.mainShowcase-heading-welcome-color {
  color: #e5a5eb;
}

.mainShowcase-button {
  background: url("../../assets/image/button-bg.png") no-repeat center
    center/cover;
  width: 257px;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.mainShowcase-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 326px;
  left: 0;
}
.homeNavbar {
  height: 128px;
  padding: 10px;
  max-width: 80%;
  margin: auto;
}
.homeNavbarItem {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.ZealiconLogo {
  height: 94px;
  width: 108px;
}
.navbar-btn {
  background-color: #7f3cb4 !important;
  color: #ffffff;
}
.homeNavbarItem li {
  padding: 10px;
  margin: 10px;
}

@media only screen and (max-width: 1350px) {
  .homeNavbar {
    max-width: 90%;
  }
}

@media only screen and (max-width: 900px) {
  .homeNavbar {
    max-width: 100%;
  }
  .mainShowcase-heading {
    font-size: 48px;
  }
  .mainShowcase-button {
    width: 200px;
    height: 50px;
    font-size: 16px;
  }
  .mainShowcase-button-wrapper {
    top: 280px;
  }
  .mainShowcase-wrapper {
    height: 880px;
  }
  .mainShowcase-heading {
    top: 180px;
  }
}
