.mainShowcase {
  height: 1024px;
  width: 1440px;
  margin: auto;
}
.mainShowcase-wrapper {
  height: 100vh;
}
.mainShowcase-image {
  height: 100%;
  width: 100%;
}
.mainShowcase-heading {
  position: absolute;
  top: 202px;
  width: 100%;
  left: 0;
  text-align: center;
  font-family: Gilroy;
  font-style: Mixed;
  font-size: 68.56px;
  line-height: 100%;
}
.home-lottie-animation {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.mainShowcase-heading-welcome-color {
  color: #e5a5eb;
}

.mainShowcase-button {
  background: url("../../assets/image/button-bg.png") no-repeat center
    center/cover;
  width: 257px;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.mainShowcase-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 326px;
  left: 0;
}
.homeNavbar {
  position: relative;
  width: 100% !important;
  height: 128px;
  max-width: 80%;
  margin: auto;
  z-index: 9999999999999999999 !important;
}
.homeNavbarItem {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.ZealiconLogo {
  height: 94px;
  width: 108px;
}
.navbar-btn {
  /* background-color: #7f3cb4 ; */
  background: rgba(127, 60, 180, 0.28);
  border: 1px solid rgba(51, 17, 101, 0.52);
  color: #ffffff !important;
}
.homeNavbarItem li {
  padding: 10px;
  margin: 10px;
}
.navbar-bg {
  background: transparent !important;
}
.navbar-text {
  color: #ffffff !important;
}
.navbar-nav {
  width: 100%;
  justify-content: space-between !important;
  align-items: center !important;
  margin-left: 40px;
}

@media only screen and (max-width: 1350px) {
  .homeNavbar {
    max-width: 90%;
  }
}

@media only screen and (max-width: 900px) {
  .homeNavbar {
    max-width: 100%;
  }
  .homeNavbar-sm-hidden {
    display: none;
  }
  .mainShowcase-heading {
    font-size: 48px;
  }
  .mainShowcase-button {
    width: 200px;
    height: 50px;
    font-size: 16px;
  }
  .mainShowcase-button-wrapper {
    top: 280px;
  }
  .mainShowcase-wrapper {
    height: 880px;
  }
  .mainShowcase-heading {
    top: 180px;
  }
}

@media only screen and (max-width: 992px) {
  .homeNavbar-sm-hidden {
    display: none;
    margin: 0 !important;
    max-width: 100%;
  }
  .navbar-bg {
    background: #362865 !important;
  }
  .custom-navbar {
    width: 100% !important;
  }
  .navbar-nav {
    align-items: flex-start !important;
    margin-left: 20px;
  }
}
@media only screen and (max-width: 460px) {
  .mainShowcase-button-wrapper {
    top: 300px;
  }
}
