/* fonts */
@font-face {
    font-family: Gilroy-bold;
    src: url("../src/assets/fonts/Gilroy-Bold.ttf");
    font-display: swap;
}
@font-face {
    font-family: Gilroy-demi;
    src: url("../src/assets/fonts/Gilroy-SemiBold.ttf");
    font-display: swap;
}
@font-face {
    font-family: Gilroy-medium;
    src: url("../src/assets/fonts/Gilroy-Medium.ttf");
    font-display: swap;
}
@font-face {
    font-family: Gilroy-regular;
    src: url("../src/assets/fonts/Gilroy-Regular.ttf");
    font-display: swap;

}

.font-bold {
    margin: 0;
    font-family: Gilroy-bold !important;
}
.font-demi {
    margin: 0;
    font-family: Gilroy-demi;
}
.font-medium {
    margin: 0;
    font-family: Gilroy-medium;
}
.font-regular {
    margin: 0;
    font-family: Gilroy-regular;
}

/* font size */
.font-12{
    font-size: 12px;
}
.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}
.font-18{
    font-size: 18px;
}
.font-20{
    font-size: 20px;
}
.font-24{
    font-size: 24px;
}
.font-28{
    font-size: 28px;
}
.font-36{
    font-size: 36px;
}
.font-48{
    font-size: 48px;
}

/* css */
html,
body {
  font-size: 100%;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

:root{
    --primaryColor: 163D5B
}

.primaryColor{
    color: var(--primaryColor);
}

.fullscreen{
    min-height: 100vh;
}

.about{
    background: url("../src/assets/images/about-bg.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}