@font-face {
    font-family: Gilroy-bold;
    src: url("../src/assets/fonts/Gilroy-Bold.ttf");
    font-display: swap;
}
@font-face {
    font-family: Gilroy-demi;
    src: url("../src/assets/fonts/Gilroy-SemiBold.ttf");
    font-display: swap;
}
@font-face {
    font-family: Gilroy-medium;
    src: url("../src/assets/fonts/Gilroy-Medium.ttf");
    font-display: swap;
}
@font-face {
    font-family: Gilroy-regular;
    src: url("../src/assets/fonts/Gilroy-Regular.ttf");
    font-display: swap;

}

.font-bold {
    margin: 0;
    font-family: Gilroy-bold !important;
}
.font-demi {
    margin: 0;
    font-family: Gilroy-demi;
}
.font-medium {
    margin: 0;
    font-family: Gilroy-medium;
}
.font-regular {
    margin: 0;
    font-family: Gilroy-regular;
}